@import url('../fonts/webfontkit-20200711-011005/stylesheet.css');


html{
    background-image: url('../peru.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'sevillanaregular';
}
#top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top > h1, #top > img{
    flex-direction: row;
}
#top > img{
    height: 20vw;
    width:30vw;
    margin-top: 2vw;
}


#navbar{
    display: flex;
    background-color:  #4d79ff;
    align-self: center;
    justify-content:center;
    margin-left: 30vw;
    margin-right:30vw;
    margin-top: 2vw;
    margin-bottom:2vw;
    border-radius: 3vw;
}

nav > ul{
    padding: 0;
    margin: 0;
    list-style:none;
}

nav > ul > li{
    display: inline-block;
    padding: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    position:relative;
    justify-content: center;
}

nav > ul > li > a{
    color: #de3c44;
    font-size: x-large;
    text-decoration: none;
}

nav> ul > li > a::after{
    content: '';
    display: block;
    width:0%;
    height: 5px;
    background-color: #de3c44;
    position: absolute;
    bottom:0;
    transition: all linear 250ms;
}

nav > ul > li > a:hover::after{
    width:70%;
}

#home_content{
    display: flex;
    margin: 100px 250px;
    border: solid;
    border-color: #de3c44;
    padding: 2vw 5vw;
}
p{
    font-size: x-large;
    padding: 2vw 5vw;
}
